<div class="wrapper">
  <div class="section">
    <h1 class="section__header">Create Doc Section</h1>
    <label class="section__label" for="newDocTitle">
      New Document Title:
      <input id="newDocTitle" placeholder="a title" type="text" [(ngModel)]="newDocTitle" (keyup.enter)="createNewDocument($event)">
    </label>

    <button class="section__button create" type="submit" (click)="createNewDocument()">Create new Document</button>
  </div>

  <div class="section">
    <h1 class="section__header">Edit Doc Section</h1>
    <button class="section__button" (click)="addPageToDoc()">Add a Page</button>

    <hr class="solid">

    <label class="section__label" for="textToInsert">
      new text for document:
      <input id="textToInsert" placeholder="a text" type="text" [(ngModel)]="formText">
    </label>

    <label class="section__label" for="pageIndex">
      page Index:
      <input id="pageIndex" type="number" [(ngModel)]="selectedPageIndex">
    </label>

    <div class="section__actions">
      <button class="section__button" (click)="getPdf()">get PDF</button>
      <button class="section__button" (click)="modifyDocument()">Modify Document</button>
    </div>
  </div>

  <div class="section">
    <h1 class="section__header">Edit Doc Section</h1>
    <button class="section__button" (click)="addPageToDoc()">Add a Page</button>

    <hr class="solid">

    <label class="section__label" for="annotationText">
      new text for document:
      <input id="annotationText" placeholder="a text" type="text" [(ngModel)]="annotationText">
    </label>

    <label class="section__label" for="annotationPageIndex">
      page Index:
      <input id="annotationPageIndex" type="number" [(ngModel)]="annotationPageIndex">
    </label>

    <div class="section__actions">
      <button class="section__button" (click)="addAnnotation(annotationPageIndex, annotationText)">Add Annotation</button>
    </div>
  </div>
</div>
